*

!/.config/
!/.config/1Password/
!/.config/1Password/ssh/
!/.config/1Password/ssh/agent.toml
!/.config/op/
!/.config/op/plugins.sh
!/.ssh/
!/.ssh/*.pub
!/.ssh/config
!/.ssh/local-config.example
!/.vscode/
!/.vscode/settings.json
!/meta/
!/meta/**/*
!/Projects/
!/Projects/klaytn/
!/Projects/klaytn/.gitconfig
!/Projects/tmk04/
!/Projects/tmk04/.gitconfig

!/.gitconfig
!/.gitignore
!/.zlogout
!/.zprofile
!/.zsh_plugins.txt
!/.zshrc
!/Brewfile
!/Brewfile.lock.json
!/setup.zsh

.DS_Store
