[alias]
	ad = "!git add .; git status -s"
	addd = "!git add .; git status -s"
	can = commit --amend --no-edit
	cm = commit
	cma = commit --amend
	cminit = commit -m \"Initial commit\"
	cmm = commit -m
	conflicts = "!git diff --check --staged | grep conflict | more"
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	cps = cherry-pick --skip
	dif = diff
	difs = diff --staged
	l = log --oneline --decorate --graph
	ll = log
	pushf = push --force-with-lease
	ra = rebase --abort
	rc = rebase --continue
	rcn = -c core.editor=true rebase --continue
	rd = reset .
	ri = rebase -i
	root = rev-parse --show-toplevel
	rs = rebase --skip
	s = stash
	sa = stash apply
	save = "!git stash store -m \"save: $1\" $(git stash create) #"
	sl = stash list
	sp = stash pop
	st = status -s
	tagcm = rev-list -n 1
	wt = worktree
[core]
	editor = code --wait
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main

[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[credential]
	helper = 1password
[includeIf "gitdir:~/.vscode/extensions/"]
	path = ~/Projects/tmk04/.gitconfig
[includeIf "gitdir:~/Projects/tmk04/"]
	path = ~/Projects/tmk04/.gitconfig
[includeIf "gitdir:~/Projects/klaytn/"]
	path = ~/Projects/klaytn/.gitconfig
