*

!/.config/
!/.config/1Password/
!/.config/1Password/ssh/
!/.config/1Password/ssh/agent.toml
!/.config/op/
!/.config/op/plugins.sh
!/.gitfuncs/
!/.gitfuncs/**/*
!/.ssh/
!/.ssh/*.pub
!/.ssh/config
!/.ssh/local-config.example
!/.vscode/
!/.vscode/settings.json
!/.zfuncs/
!/.zfuncs/**/*
!/.zalias/
!/.zalias/**/*
!/.zsh_languages/
!/.zsh_languages/**/*
!/meta/
!/meta/**/*
!/Projects/
!/Projects/klaytn/
!/Projects/klaytn/.gitconfig
!/Projects/tmk04/
!/Projects/tmk04/.gitconfig

!/.gitconfig
!/.gitignore
!/.p10k.zsh
!/.tmux.conf
!/.tmux.zsh
!/.zcomp.zsh
!/.zlogout
!/.zoxide.zsh
!/.zprofile
!/.zsh_plugins.txt
!/.zshrc
!/Brewfile
!/Brewfile.lock.json
!/setup.zsh

.DS_Store
